.create-vitals {
    padding: 20px;
    .title {
        color: #1a1a1a;
        font-size: 16px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
    }
    .btn-save {
        background-color: #9fb9c8;
        color: white;
        border-radius: 50px;
        min-width: 100px;
        right: 15px;
        position: absolute;
    }
    .btn-cancel {
        color: #8da2ae;
    }
    .form-create {
        margin-top: 20px;
        .example-full-width {
            width: 100%;
        }
    }
}
.align-self-center {
    align-self: center;
}

mat-form-field {
    margin-right: 12px;
}

mat-spinner {
    float: right;
    margin-left: 8px;
    margin-top: 5px;
    width: 20px;
    height: 20px;
}
