.search {
    position: relative;
    input {
        width: 300px;
        height: 38px;
        border-radius: 15px;
        background-color: #DBDBDB;
        border: none;
        padding: 0 10px 0 40px;
        outline: none;
    }
    mat-icon {
        position: absolute;
        top: 8px;
        left: 10px;
    }
}

.cancel {
    outline: none;
    color: #8DA2AE;
    border: none !important;
    background: none !important;
    font-size: 20px;
    position: absolute;
    top: 25px;
    right: 25px;
}

.list-item {
    width: 300px;
    height: 38px;
    border-radius: 20px;
    background-color: #FFFFFF;
    position: relative;
    .img {
        width: 31px;
        height: 31px;
        border-radius: 50%;
        margin: auto 5px;
        // border: 1px solid;
        img {
            width: 31px;
            height: 31px;
            border-radius: 50%;
        }
    }
    p {
        margin: 0;
    }
    mat-icon{
        position: absolute;
        right: 10px;
        top: 8px;
        font-size: 23px;
        opacity: 0.5;
    }
}

.clients {
    width: 300px;
    height: 30px;
}

.list-patient {
    max-height: 400px;
    overflow: auto;
    width: 300px;
    margin: auto;
}

::ng-deep {
    .mat-dialog-container {
        position: relative;
        background-color: #F6F6F6 !important;
    }
}
.detele{
    position: absolute;
}