<div class="outsideShadow w-100 header" >
    <div class="col">
        <h3>Open Clients</h3>
        <h3 (click)="routerLinkListPatient()">
            View All
        </h3>
    </div>
    <div class="col list-patient">
        <div class="row detail" >
            <div class="image">
                <img src="assets/images/profile1.png" alt="" />
            </div>
            <div class="image">
                <div class="notification">
                    <p class="text-center noti" >
                        2
                    </p>
                </div>
                <img src="assets/images/profile4.png" alt="" />
            </div>
            <div class="image">
                <img src="assets/images/profile3.png" alt="" />
            </div>
            <div class="image">
                <img src="assets/images/profile4.png" alt="" />
            </div>
            <div class="image">
                <img src="assets/images/profile1.png" alt="" />
            </div>
        </div>
    </div>
</div>