<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <div class="outsideShadow w-100" style="height: 10em;">
                <p>&nbsp;Recent Clients</p>
            </div>
        </div>
        <div class="col-4">
            <div class="insideShadow w-100" style="height: 10em;"></div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-8">
            <div class="outsideShadow w-100" style="height: 10em;"><button (click)="show()">Show</button></div><br>
            <div class="insideShadow w-100" style="height: 21em;"></div>
        </div>
        <div class="col-4">
            <div class="insideShadow w-100" style="height: 32em;">
              </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col">
            <div class="insideShadow w-100" style="height: 9em;"></div>
        </div>
    </div>
</div>