<div class="container" style="margin-top: 2em">
  <div class="row">
    <div class="col-9 add-history">Edit Presciption</div>
    <div class="col-3 btn-1">
      <div class="button-group">
        <button class="btn-cancel" (click)="closeDialog()">Cancel</button>
        <button class="btn-save" (click)="updatePres()">Save</button>
      </div>
    </div>
  </div>
</div>
<div class="container create-medication">
  <div class="row">
    <div class="col-3 align-self-center">Name:</div>
    <div class="col-9 align-self-center">
      <mat-form-field class="example-full-width">
        <mat-select name="DrugId" [(ngModel)]="model.DrugId" disabled>
          <mat-option *ngFor="let item of DurgList" [value]="item.DrugId">
            {{ item.Name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-3 align-self-center">Dose:</div>
    <div class="col-9 align-self-center">
      <mat-form-field class="example-full-width">
        <mat-label></mat-label>
        <input matInput name="DoseValue" [(ngModel)]="model.DoseUnit" />
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-3 align-self-center">Frequenncy:</div>
    <div class="col-9 align-self-center">
      <mat-form-field class="example-full-width">
        <mat-label></mat-label>
        <input
          matInput
          name="FrequencyUnit"
          [(ngModel)]="model.FrequencyUnit"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-3 align-self-center">Start</div>
    <div class="col-9 align-self-center">
      <mat-form-field>
        <mat-label></mat-label>
        <input
          matInput
          type="date"
          name="StartDate"
          [(ngModel)]="model.StartDate"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-3 align-self-center">End</div>
    <div class="col-9 align-self-center">
      <mat-form-field class="example-full-width">
        <mat-label></mat-label>
        <input
          matInput
          type="date"
          name="StartDate"
          [(ngModel)]="model.EndDate"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-3 align-self-center">Route:</div>
    <div class="col-9 align-self-center">
      <mat-form-field class="example-full-width">
        <mat-select name="DrugrouteId" [(ngModel)]="model.DrugrouteId" disabled>
          <mat-option *ngFor="let item of RouteList" [value]="item.DrugrouteId">
            {{ item.Name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-3 align-self-center">Details:</div>
    <div class="col-9 align-self-center">
      <mat-form-field class="example-full-width">
        <mat-label></mat-label>
        <input
          matInput
          type="text"
          name="Detail"
          [(ngModel)]="model.Instruction"
        />
      </mat-form-field>
    </div>
  </div>
</div>
