<div class="container-fluid overflow-hidden">
    <div class="visitTable">
        <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8 list-of-visit table-hover text-center tableStyle">
            <ng-container matColumnDef="Date">
                <th mat-header-cell *matHeaderCellDef>
                    Date
                </th>
                <td mat-cell *matCellDef="let Listofvisits">
                    <div class="row justify-content-center">
                        {{Listofvisits[0].CreatedOn | date: 'dd/MM/yyyy'}}
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="Problem">
                <th mat-header-cell *matHeaderCellDef>
                    Problem
                </th>
                <td mat-cell *matCellDef="let Listofvisits">
                    <div class="row problem justify-content-center">
                        <p *ngFor="let problem of Listofvisits; let index = index;">{{problem.ProblemName}}<span *ngIf="index < Listofvisits.length - 1">, </span>
                        </p>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="Review">
                <th mat-header-cell *matHeaderCellDef>
                    Review
                </th>
                <td mat-cell *matCellDef="let Listofvisits">
                    <div class="row justify-content-center">

                        <mat-icon> file_copy</mat-icon>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; let item"></tr>
        </table>
    </div>

    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
</div>