<div class="container overflow-hidden" style="margin-top: 2em">
  <div class="row justify-content-between">
    <div class="col-10 add-history">Edit medical history</div>
    <div class="col-2 btn-1">
      <div class="button-group">
        <!-- <button
                    class="btn-cancel"
                    style="border: none; color: #9fb9c8;"
                    (click)="closeDialog()"
                >
                    Cancel
                </button> -->
        <button class="btn-save" (click)="closeDialog()">Close</button>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-6 medical-table">
      <table
        mat-table
        class="table-hover tableStyle w-100"
        [dataSource]="dataSource"
      >
        <!-- Position Column -->
        <ng-container matColumnDef="medical">
          <th mat-header-cell *matHeaderCellDef>Medical History</th>
          <td
            mat-cell
            *matCellDef="let item"
            (click)="openDetailDialog(item.PatientMedicalfactorId)"
          >
            {{ item.SNOMEDCode }}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="since">
          <th mat-header-cell *matHeaderCellDef>since</th>
          <td
            mat-cell
            *matCellDef="let item"
            (click)="openDetailDialog(item.PatientMedicalfactorId)"
          >
            {{ item.StartDate | date: "dd/MM/yyyy" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let item">
            <mat-icon (click)="deleteItem(item.PatientMedicalfactorId)"
              >delete</mat-icon
            >
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <div class="col-6 medical-table">
      <table
        mat-table
        class="table-hover tableStyle w-100"
        [dataSource]="surgicalDataSource"
      >
        <!-- Position Column -->
        <ng-container matColumnDef="surgical">
          <th mat-header-cell *matHeaderCellDef>Surgical History</th>
          <td
            mat-cell
            *matCellDef="let item"
            (click)="openDetailDialog(item.PatientMedicalfactorId)"
          >
            {{ item.SNOMEDCode }}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>date</th>
          <td
            mat-cell
            *matCellDef="let item"
            (click)="openDetailDialog(item.PatientMedicalfactorId)"
          >
            {{ item.StartDate | date: "dd/MM/yyyy" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let item">
            <mat-icon (click)="deleteItem(item.PatientMedicalfactorId)"
              >delete</mat-icon
            >
          </td>
        </ng-container>
        <tr
          mat-header-row
          *matHeaderRowDef="surgicalDisplayedColumns; sticky: true"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: surgicalDisplayedColumns"
        ></tr>
      </table>
    </div>
  </div>
</div>
