.add-history {
  font-weight: bold;
  font-family: Segoe UI;
  font-size: 16px;
}

.mat-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 24px;
  width: 24px;
  font-weight: 1000;
}
