.add-history {
    font-weight: bold;
    font-family: Segoe UI;
    font-size: 16px;
}

.btn-1 {
    display: flex;
    flex-direction: row;
}

.family {
    display: flex;
    flex-wrap: wrap;
}

.family-people {
    width: 115px;
}

.yes-no-btn {
    display: flex;
    flex-wrap: wrap;
}

.yes-no {
    width: 85px;
    height: 35px;
    border-radius: 20px;
    margin-right: 5px;
    border: none;
    color: #b3b3b3;
}

.question {
    font-family: Segoe UI;
}

.details {
    font-weight: bold;
    font-size: 16px;
}
p {
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding: 20px;
    height: 72vh;
    // margin-top: 20px;
}

.icon-div {
    right: 2em;
    position: absolute;
    bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 0;
}

.btn-1 {
    display: flex;
    flex-direction: row-reverse;
}

input {
    border: none;
    background: none;
    text-align: center;
}

.table-btn {
    width: 184px;
    height: 40px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 5px 5px 10px #cccccc, -5px -5px 10px #ffffff;
    margin: 20px 25px 0;
    float: right;
}

.btn-edit {
    height: 100%;
    width: 100%;
}

.save {
    width: 80px;
    height: 35px;
    background-color: #9FB9C8;
    border-radius: 18px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.group-button {
    position: absolute;
    right: 2em;
    bottom: 0.5em;
    button {
        border: none;
        outline: none;
        background: none;
        padding: 0 10px;
        img {
            width: 30px;
            height: 30px;
        }
    }
}

mat-icon {
    font-size: 23px;
    opacity: 0.5;
}

::ng-deep .button.swal2-cancel.swal2-styled {
    color: #8DA2AE;
}

.family-table {
    height: 60vh !important;
    overflow: auto;
}