<div class="container" style="margin-top: 2em">
  <div class="row">
    <div class="col-9 add-history">Add Immunization</div>
    <div class="col-3 btn-1">
      <div class="button-group">
        <button
          class="btn-cancel"
          style="border: none; color: #9fb9c8"
          (click)="closeDialog()"
        >
          Cancel
        </button>
        <button class="btn-save" (click)="createImmu()">Save</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-2 title" style="margin-top: 20px">Vaccines:</div>
    <div class="col-10">
      <mat-form-field class="example-full-width">
        <input
          type="text"
          matInput
          name="problem"
          [(ngModel)]="vaccine"
          (input)="searchImmunization(vaccine)"
          required
        />
        <mat-spinner *ngIf="!isLoading" matSuffix [diameter]="18"></mat-spinner>
      </mat-form-field>
      <mat-selection-list class="example-full-width" [multiple]="false">
        <mat-list-option
          *ngFor="let item of ImmunizationList"
          (click)="setTermValue(item)"
        >
          {{ item.FullName }}
        </mat-list-option>
      </mat-selection-list>
    </div>
  </div>
  <div class="row">
    <div class="col-2 title" style="margin-top: 20px">Date:</div>
    <div class="col-10">
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="appliedDate" value="" />
      </mat-form-field>
    </div>
  </div>
</div>
