<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-9">
            <p>Add new event</p>
        </div>
        <div class="col-3 ">
            <div class="group-button">
                <button class="cancel" (click)="closeDialog()"> 
                    Cancel
                </button>
                <button class="save">Save</button>
            </div>
        </div>
    </div>
    <br>
    <div class="content">
        <div class="row type">
            <div class="col-2">
                <label for="">Type:</label>
            </div>
            <div class="col-10">
                <select name="" id="">
                    <option value="">Review</option>
                    <option value="">Review</option>
                    <option value="">Review</option>
                    <option value="">Review</option>
                    <option value="">Review</option>

                </select>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row type">
            <div class="col-2">
                <label for="">Subject:</label>
            </div>
            <div class="col-10">
                <input type="text" name="" id="">
            </div>

        </div>
    </div>
    <!-- <div class="content">
        <div class="row type">
            <div class="col-2">
                <label for="">People involved:</label>
            </div>
            <div class="col-10">
                <input type="text">
            </div>
        </div>
    </div> -->
    <div class="content">
        <div class="row type">
            <div class="col-2">
                <label for="">Date:</label>
            </div>
            <div class="col-10">
                <input type="date" name="" id="">
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row type">
            <div class="col-2">
                <label for="">Duration:</label>
            </div>
            <div class="col-10">
                <span>from</span> <input type="time" name="" id=""> <span>to</span> <input type="time">
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row type">
            <div class="col-2">
                <label for="">Note:</label>
            </div>
            <div class="col-10 mt-2">
                <textarea name="" id="" cols="50" rows="4"></textarea>
            </div>
        </div>
    </div>

</div>