.button-group {
    position: absolute;
    bottom: 1em;
    right: 1em;
}
kendo-chart {
    height: 500px;
    margin-top: 20px;
}

.align-self-center {
    align-self: center;
}

.badge {
    display: inline-block;
    padding: 0.5em 0.75em;
    font-size: 85%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.display-flex {
    display: flex;
}

.text-align-center {
    text-align: center;
}

.margin-t-20 {
    margin-top: 20px !important;
}

.btn-back {
    border-radius: 15px 0px 0px 15px;
    border: solid 1px black;
    border-right: 0px;
    height: 40px;
    width: 30px;
}

.btn-next {
    border-radius: 0px 15px 15px 0px;
    border: solid 1px black;
    border-left: 0px;
    height: 40px;
    width: 30px;
}

.btn-text {
    border: solid 1px black;
    border-right: 0px;
    border-left: 0px;
    height: 40px;
    width: 80px;
}

.btn-next-step {
    width: 150px;
    position: relative;
    right: -20px;
    .img-back-table {
        position: absolute;
        top: 8px;
        left: 10px;
        height: 20px;
    }
    .img-back-chart {
        position: absolute;
        top: 8px;
        right: 10px;
        height: 20px;
    }
}

.table-list-vital {
    margin-top: 20px;
    .header-table {
        background-color: #9fb9c8;
        border-radius: 30px;
    }
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0px 50px;
}

th {
    padding: 10px;
    background-color: #9fb9c8;
    color: white;
}
td {
    padding: 15px;
}

.border-radius-30-0 {
    border-radius: 30px 0 0 30px;
}

.border-radius-0-30 {
    border-radius: 0 30px 30px 0;
}

.border-radius-t-r-30 {
    border-radius: 0 30px 0px 0;
}

.border-radius-b-r-30 {
    border-radius: 0 0px 30px 0;
}

.c-loading {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    position: fixed;
    cursor: not-allowed;
    text-align: center;

    &.c-loading--hidden {
        display: none;
    }

    &__status {
        position: absolute;
        top: 40%;
    }
}

.scoll-vital {
    overflow: auto;
    width: 865px;
}

.fixh123 {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 2;
}

.overTable {
    width: 109px;
    height: 75%;
    background-color: #f6f6f6;
    position: absolute;
    left: -1px;
    top: 144px;
}
.fz35-c70 {
    font-size: 35px;
    color: #707070;
}
.z-1 {
    z-index: 1;
}

.b-bt-1 {
    border-bottom: 1px solid;
}
