.example-stretched-tabs {
    width: 100%;
}
::ng-deep .medication {
    .mat-tab-labels {
        background-color: #ffffff;
        border-radius: 15px;
        height: 50px;
        box-shadow: inset 5px 3px 6px #c2c2c2, inset -5px -5px 10px #ffffff;
    }
    .mat-tab-label:first-child {
        border-bottom: 2px solid rgb(112, 112, 112, 0.2);
        height: 40px;
        margin-left: 20px;
    }
    .mat-tab-label:last-child {
        border-bottom: 2px solid rgb(112, 112, 112, 0.2);
        height: 40px;
        margin-right: 20px;
    }
    .mat-tab-label {
        border-bottom: 2px solid rgb(112, 112, 112, 0.2);
        height: 40px;
    }
}

.button-group-medication {
    img {
        width: 30px;
        height: 30px;
    }
    bottom: 33px;
    position: fixed;
    right: 45px;
}

.height-81vh {
    height: 81vh;
}

.fz35-c70 {
    font-size: 35px;
    color: #707070;
}
